* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
}

html,
body {
    height: 100%;
    width: 100%;

}

#cursor {
    height: 25px;
    width: 25px;
    background-color: #95c11e;
    border-radius: 50%;
    position: fixed;
    z-index: 99;
    filter: blur(40px);
}

#cursor-blur {
    height: 400px;
    width: 400px;
    background-color: #96c11e3a;
    border-radius: 50%;
    position: fixed;
    filter: blur(40px);
    z-index: 9;

}

#nav {
    height: 80px;
    width: 100%;
    /* background-color: rgb(104, 98, 98); */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 150px;
    gap: 40px;
    position: fixed;
    z-index: 99;
}

#nav img {
    height: 80px;
}

#nav h4 {
    text-transform: uppercase;
    font-weight: 500;
   

}
#nav h4:hover
{
   color: #119f3a;
   transition: all 0.6s ease-in-out;
   
}
video {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;

}

#main {
    position: relative;
    background-color: rgba(0, 0, 0, 0.37);
}

#page1 {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 10;

}

#page1 h1 {
    font-size: 140px;
    font-weight: 900;
    position: relative;
    animation: h1-animaiton 0.90s ease-in-out;

}

@keyframes h1-animaiton {
    0% {
        transform: translatey(50px);
    }

    100% {
        transform: translatey(0);
    }
}

#page1 h2 {
    font-size: 30px;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 20px;
    /* animation: h2-animaiton 0.50s ease; */
}

/* @keyframes h2-animaiton {
    0% {
        transform: translatey(200px);
    }

    100% {
        transform: translatey(0);
    }
} */

#page1 h3 {
    font-size: 17px;
    font-weight: 500;
    width: 40%;
    /* animation: h3-animaiton 0.50s ease; */
}

/* @keyframes h3-animaiton {
    0% {
        transform: translatey(200px);
    }

    100% {
        transform: translatey(0);
    }
} */

#page1 h1::before {
    content: "EAT.DRINK.PLAY.";
    position: absolute;
    color: black;
    top: -6px;
    left: -6px;
    -webkit-text-stroke: 1px #95c11e;
    z-index: -1;
}

#page2 {
    min-height: 100vh;
    width: 100%;
    z-index: 10;
}

#scroller {
    /* background-color: red; */
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    z-index: 10;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }

}

#scroller-in {
    display: inline-block;
    white-space: nowrap;
    animation: scroll;
    animation-duration: 30s;
    -o-animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#scroller::-webkit-scrollbar {
    display: none;
}

#scroller-in {
    display: inline-block;
    white-space: nowrap;
}

#scroller h4 {
    display: inline-block;
    font-size: 140px;
    font-weight: 900;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-right: 10px;
    -webkit-text-stroke: 2px #95c11e;
    transition: all linear 0.5s;
    color: transparent;


}

#scroller :hover {
    color: #95c11e;
}

#about-us {
    height: 40vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    padding: 0 50px;
    align-items: center;
    justify-content: space-around;
    position: relative;

}

#about-us img {
    height: 220px;
    width: 220px;
    border-radius: 20px;
    object-fit: cover;
    
}

#about-us-in {
    width: 40%;
    text-align: center;

}

#about-us-in h3 {
    font-size: 54px;
    font-weight: 800;
    margin-bottom: 40px;
}

#about-us-in p {
    font-size: 20px;
    line-height: 26px;
}

#cards-container {
    height: 60vh;
    /* background-color: red; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 50px;
    position: relative;
    z-index: 10;
}

.card {
    height: 80%;
    width: 22%;
    /* background-color: blue; */
    border-radius: 15px;
    background-size: cover;
    background-position: center;
    overflow: hidden;

    transition: all ease 0.9s;
}

#card1 {
    background-image: url('https://plus.unsplash.com/premium_photo-1681298787816-56ffc43c1af2?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTN8fGdvbGZ8ZW58MHx8MHx8fDA%3D');
}

#card2 {
    background-image: url('https://media.istockphoto.com/id/1133871971/photo/greetings-on-the-golf-course.webp?a=1&b=1&s=612x612&w=0&k=20&c=QaB2mUV1V9pGyNUm00PXqfRLnvboj-rrUQdFdQQ4huE=');
}

#card3 {
    background-image: url('https://images.unsplash.com/photo-1600609293139-ea525a3edeec?w=1000&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Z29sZnxlbnwwfHwwfHx8MA%3D%3D');
}

.overlay {
    height: 100%;
    opacity: 0;
    width: 100%;
    background-color: #95c11e;
    padding-top: 130px;
    transition: all ease 0.9s;


}

.overlay h4 {
    color: #000;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 20px;
    white-space: nowrap;

}

.overlay p {
    color: #000;
    font-size: 18px;
}

.card:hover .overlay {
    opacity: 1;
}

.card:hover {
    transform: rotate3d(-1, 1, 0, 20deg);
}

#green-div {
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(to left bottom, #119f3a, #ACE002);
}

#green-div h4 {
    width: 42%;
    line-height: 40px;
    text-align: center;
    color: #000;
    font-size: 27px;
    font-weight: 700;
    text-transform: uppercase;
}

#green-div img {
    height: 100%;
    object-fit: cover;
    width: 14%;
}

#page3 {
    height: 100vh;
    width: 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

#page3>p {
    font-size: 30px;
    font-weight: 700;
    width: 60%;
    text-align: center;
    line-height: 45px;
}

#page3 img {
    position: absolute;
    height: 60px;

}

#page3 #colon1 {
    left: 15%;
    top: 25%;
}

#page3 #colon2 {
    bottom: 16%;
    right: 15%;
}

#page4 {
    height: 50vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    position: relative;
}

.elem {
    height: 40%;
    width: 25%;
    overflow: hidden;
    border-radius: 20px;
    position: relative;

}

.elem h2 {
    height: 100%;
    width: 100%;
    background-color: #95c11e;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    color: #000;
    position: absolute;
    z-index: 10;
    transition: all ease 0.7s;

}

.elem img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    scale: 1.1;
    transition: all ease 0.7s;
}

.elem:hover h2 {
    color: #fff;
    background-color: transparent;

}

.elem:hover img {
    scale: 1;
    transition: all ease 0.7s;

}

#page4 h1 {
    font-size: 80px;
    position: absolute;
    top: -15%;
    font-weight: 900;
    -webkit-text-stroke: 2px white;
    color: #000;


}

#footer {
    height: 40vh;
    width: 100%;
    background: linear-gradient(to left bottom, #119f3a, #95c11e);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;

}

#footer img {
    width: 200px;
    height: 200px;

}

#h4all {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
    color: #000;

}

#h4all2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
    color: #000;

}

#h4all3 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
    color: #000;

}

#h4all3 h4 {
    color: #000;
    font-weight: 700;

}

#h4all h4 {
    color: #000;

    font-weight: 700;
    font-size: 25px;
}

#h4all2 h4 {
    color: #000;
    font-weight: 700;
}
/* responsive ness */
